*{
    margin: 0;
    padding: 0;

}

.cabeçalho {
    background-color: rgb(209, 36, 36);
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalho-imagem{
    width: 20%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.escola-imagem{
    width: 70%;
    padding: 30px 0;
    margin: 0 36px;
}
.escola{
    background-image: linear-gradient( rgb(209, 36, 36), rgb(247, 194, 201));
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 0 36px;
}

.escola-div-conteudo{
width: 45%;

}
.escola-titulo{
    padding: 24px 0;
}

.estudante-imagem{
    width: 120px ;

}

.estudante-icone{
    width: 24px; ;
}

.estudante-div{
    text-align: center;
}

body{
    font-family: 'Poppins', sans-serif;
}
.estudante-todos{
    display: inline-grid;
    grid-template-columns: 20% 20% ;
}
