*{
    margin: 0;
    padding: 0;

}

.cabeçalho {
    background-color: rgb(253, 83, 60);
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalho-imagem{
    width: 20%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.escola-imagem{
    width: 25%;
    padding: 24px 0;
}
.escola{
    background-image: linear-gradient( rgb(253, 83, 60), rgb(247, 194, 201));
    color:white;Style.css
2
*{
3
    margin: 0;
4
    padding: 0;
5
​
6
}
7
​
8
.cabeçalho {
9
    background-color: rgb(253, 83, 60);
10
    color:white;
11
    display: flex;
12
    justify-content: space-around;
13
    align-items: right;
14
    padding: 24px 0;
15
}
16
​
17
.cabeçalho-imagem{
18
    width: 15%;
19
}
20
​
21
.cabeçalho-lista-item{
22
    display: inline-block;
23
    margin: 0 16px;
24
    font-size: 24px;
25
}
26
.escola-imagem{
27
    width: 50%;
28
    align-items: left;
29
    margin: 0 26px;
30
}
31
.escola{
32
    background-image: linear-gradient( rgb(253, 83, 60), rgb(247, 194, 201));
33Style.css
2
*{
3
    margin: 0;
4
    padding: 0;
5
​
6
}
7
​
8
.cabeçalho {
9
    background-color: rgb(253, 83, 60);
10
    color:white;
11
    display: flex;
12
    justify-content: space-around;
13
    align-items: right;
14
    padding: 24px 0;
15
}
16
​
17
.cabeçalho-imagem{
18
    width: 15%;
19
}
20
​
21
.cabeçalho-lista-item{
22
    display: inline-block;
23
    margin: 0 16px;
24
    font-size: 24px;
25
}
26
.escola-imagem{
27
    width: 50%;
28
    align-items: left;
29
    margin: 0 26px;
30
}
31
.escola{
32
    background-image: linear-gradient( rgb(253, 83, 60), rgb(247, 194, 201));
33
    color:white;
34
    display: flex;
35Style.css
2
*{
3
    margin: 0;
4
    padding: 0;
5
​
6
}
7
​
8
.cabeçalho {
9
    background-color: rgb(253, 83, 60);
10
    color:white;
11
    display: flex;
12
    justify-content: space-around;
13
    align-items: right;
14
    padding: 24px 0;
15
}
16
​
17
.cabeçalho-imagem{
18
    width: 15%;
19
}
20
​
21
.cabeçalho-lista-item{
22
    display: inline-block;
23
    margin: 0 16px;
24
    font-size: 24px;
25
}
26
.escola-imagem{
27
    width: 50%;
28
    align-items: left;
29
    margin: 0 26px;
30
}
31
.escola{Style.css
2
*{
3
    margin: 0;
4
    padding: 0;
5
​
6
}
7
​
8
.cabeçalho {
9
    background-color: rgb(253, 83, 60);
10
    color:white;
11
    display: flex;
12
    justify-content: space-around;
13
    align-items: right;
14
    padding: 24px 0;
15
}
16
​
17
.cabeçalho-imagem{
18
    width: 15%;
19
}
20
​
21
.cabeçalho-lista-item{
22
    display: inline-block;
23
    margin: 0 16px;
24
    font-size: 24px;
25
}
26
.escola-imagem{
27
    width: 50%;
28
    align-items: left;
29
    margin: 0 26px;
30
}
31
.escola{Style.css
2
*{
3
    margin: 0;
4
    padding: 0;
5
​
6
}
7
​
8
.cabeçalho {
9
    background-color: rgb(253, 83, 60);
10
    color:white;
11
    display: flex;
12
    justify-content: space-around;
13
    align-items: right;
14
    padding: 24px 0;
15
}
16
​
17
.cabeçalho-imagem{
18
    width: 15%;
19
}
20
​
21
.cabeçalho-lista-item{
22
    display: inline-block;
23
    margin: 0 16px;
24
    font-size: 24px;
25
}
26
.escola-imagem{
27
    width: 50%;
28
    align-items: left;
29
    margin: 0 26px;
30
}
31
.escola{
32Style.css
2
*{
3
    margin: 0;
4
    padding: 0;
5
​
6
}
7
​
8
.cabeçalho {
9
    background-color: rgb(253, 83, 60);
10
    color:white;
11
    display: flex;
12
    justify-content: space-around;
13
    align-items: right;
14
    padding: 24px 0;
15
}
16
​
17
.cabeçalho-imagem{
18
    width: 15%;
19
}
20
​
21
.cabeçalho-lista-item{
22
    display: inline-block;
23
    margin: 0 16px;
24
    font-size: 24px;
25
}
26
.escola-imagem{
27
    width: 50%;
28
    align-items: left;
29
    margin: 0 26px;
30
}
31
.escola{
32
    background-image: linear-gradient( rgb(253, 83, 60), rgb(247, 194, 201));
33
    color:white;
34Style.css
2
*{
3
    margin: 0;
4
    padding: 0;
5
​
6
}
7
​
8
.cabeçalho {
9
    background-color: rgb(253, 83, 60);
10
    color:white;
11
    display: flex;
12
    justify-content: space-around;
13
    align-items: right;
14
    padding: 24px 0;
15
}
16
​
17
.cabeçalho-imagem{
18
    width: 15%;
19
}
20
​
21
.cabeçalho-lista-item{
22
    display: inline-block;
23
    margin: 0 16px;
24
    font-size: 24px;
25
}
26
.escola-imagem{
27
    width: 50%;
28
    align-items: left;
29
    margin: 0 26px;
30
}
31
.escola{
32
    background-image: linear-gradient( rgb(253, 83, 60), rgb(247, 194, 201));
33
    color:white;
34
    display: flex;
35
    justify-content: center;
36
    align-items: center;
37
    padding: 30px;
38
}
39
​
40
.escola-div-conteudo{
41
width: 35%;
42
​
43
}
44
.escola-titulo{
45
    padding: 24px 0;
46
}
47

    display: flex;
35
    justify-content: center;
36
    align-items: center;
37
    padding: 30px;
38
}
39
​
40
.escola-div-conteudo{
41
width: 35%;
42
​
43
}
44
.escola-titulo{
45
    padding: 24px 0;
46
}
47

    background-image: linear-gradient( rgb(253, 83, 60), rgb(247, 194, 201));
33
    color:white;
34
    display: flex;
35
    justify-content: center;
36
    align-items: center;
37
    padding: 30px;
38
}
39
​
40
.escola-div-conteudo{
41
width: 35%;
42
​
43
}
44
.escola-titulo{
45
    padding: 24px 0;
46
}
47

32
    background-image: linear-gradient( rgb(253, 83, 60), rgb(247, 194, 201));
33
    color:white;
34
    display: flex;
35
    justify-content: center;
36
    align-items: center;
37
    padding: 30px;
38
}
39
​
40
.escola-div-conteudo{
41
width: 35%;
42
​
43
}
44
.escola-titulo{
45
    padding: 24px 0;
46
}
47

32
    background-image: linear-gradient( rgb(253, 83, 60), rgb(247, 194, 201));Style.css
2
*{
3
    margin: 0;
4
    padding: 0;
5
​
6
}
7
​
8
.cabeçalho {
9
    background-color: rgb(253, 83, 60);
10
    color:white;
11
    display: flex;
12
    justify-content: space-around;
13
    align-items: right;
14
    padding: 24px 0;
15
}
16
​
17
.cabeçalho-imagem{
18
    width: 15%;
19
}
20
​
21
.cabeçalho-lista-item{
22
    display: inline-block;
23
    margin: 0 16px;
24
    font-size: 24px;
25
}
26
.escola-imagem{
27
    width: 50%;
28
    align-items: left;
29
    margin: 0 26px;
30
}
31
.escola{
32
    background-image: linear-gradient( rgb(253, 83, 60), rgb(247, 194, 201));
33
    color:white;
34
    display: flex;
35
    justify-content: center;
36
    align-items: center;
37
    padding: 30px;
38
}
39
​
40
.escola-div-conteudo{
41
width: 35%;
42
​
43
}
44
.escola-titulo{
45
    padding: 24px 0;
46
}
47

33
    color:white;
34
    display: flex;
35
    justify-content: center;
36
    align-items: center;
37
    padding: 30px;
38
}
39
​
40
.escola-div-conteudo{
41
width: 35%;
42
​
43
}
44
.escola-titulo{
45
    padding: 24px 0;
46
}
47

    justify-content: center;
36
    align-items: center;
37
    padding: 30px;
38
}
39
​
40
.escola-div-conteudo{
41
width: 35%;
42
​
43
}
44
.escola-titulo{
45
    padding: 24px 0;
46
}
47

    color:white;
34
    display: flex;
35
    justify-content: center;
36
    align-items: center;
37
    padding: 30px;
38
}
39
​
40
.escola-div-conteudo{
41
width: 35%;
42
​
43
}
44
.escola-titulo{
45
    padding: 24px 0;
46
}
47

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.escola-div-conteudo{
width: 35%;

}
.escola-titulo{
    padding: 24px 0;
}

.estudante-imagem{
    width: 120px ;

}

.estudante-icone{
    width: 24px; ;
}

.estudante-div{
    text-align: center;
}

body{
    font-family: 'Poppins', sans-serif;
}
